

/* Hero */
#hero img{
    width: 15%;
    height: auto;
}

/* Body */
p{
    background-color: #0AFC93;
    color: #3F1EE6;
    text-align: center;
    font-family: Barriecito;
}
footer{
    text-align: center;
    font-family: Story Script;
    color:#3F1EE6;
    background-color: #0AFC93;
}
h1{
    font-size: 40pt;
}
body{
    background-color: #E37971;
}
header{
    font-family: Story Script;
    color:#3F1EE6;
    background-color: #0AFC93;
    text-align: center;
}
main{
    text-align: center;
    font-size: 20pt;
    font-family: Barriecito;
    color: #3F1EE6;
    background-color: #0AFC93;
}
/* Hobbies */
#hobbies{
    text-align: left;
}
#hobbies ul li:nth-child(even){
    color: #E37971;
}

/* Gallery */
#gallery{
    border: 2px solid #3F1EE6;
}
#gallery img{
    max-width: 100%;
    border: 2px solid #3F1EE6;
    
}